@import "tailwindcss";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:#050816;
  overflow-x:hidden;
  color:white;
  font-family:sans-serif;
}
/* SCROLLBAR */

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background:#050816;
}

::-webkit-scrollbar-thumb{
  background:cyan;
  border-radius:20px;
}

/* ANIMATED GRID */

body::before{
  content:"";
  position:fixed;
  inset:0;

  background-image:
  linear-gradient(rgba(255,255,255,0.05) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,0.05) 1px, transparent 1px);

  background-size:40px 40px;

  mask-image:radial-gradient(circle at center, black 30%, transparent 80%);

  z-index:-1;
}
